<ion-header>

  <ion-toolbar color="primary">

    <ion-title>

      Add Driver

    </ion-title>

  </ion-toolbar>

</ion-header>

<ion-content>

  <div class="container">

    <form [formGroup]="driverForm">

      <ion-item>

        <ion-input

          label="Driver Name"

          labelPlacement="floating"

          formControlName="name">

        </ion-input>

      </ion-item>

      <ion-item>

        <ion-input

          label="Mobile Number"

          labelPlacement="floating"

          formControlName="mobileNumber">

        </ion-input>

      </ion-item>

      <ion-item>

        <ion-input

          label="Vehicle Number"

          labelPlacement="floating"

          formControlName="vehicleNumber">

        </ion-input>

      </ion-item>

      <ion-item>

        <ion-input

          label="Route Area"

          labelPlacement="floating"

          formControlName="routeArea">

        </ion-input>

      </ion-item>

      <ion-button

        expand="block"

        (click)="saveDriver()">

        Save Driver

      </ion-button>

      <ion-button

        expand="block"

        fill="outline"

        (click)="goto()">

        Back

      </ion-button>

    </form>

  </div>

</ion-content>