<ion-header>

  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/admin/dashboard">
      </ion-back-button>
    </ion-buttons>
    <ion-title>
      Add Driver
    </ion-title>

  </ion-toolbar>

</ion-header>

<ion-content>

  <div class="container">

    <form [formGroup]="driverForm">

      <ion-card>

        <ion-card-content>

          <ion-item>

            <ion-label position="stacked">
              Driver Name
            </ion-label>

            <ion-input formControlName="name">
            </ion-input>

          </ion-item>

          <ion-item>

            <ion-label position="stacked">
              Mobile Number
            </ion-label>

            <ion-input type="tel" formControlName="mobileNumber">
            </ion-input>

          </ion-item>

          <ion-item>

            <ion-label position="stacked">
              Vehicle Number
            </ion-label>

            <ion-input formControlName="vehicleNumber">
            </ion-input>

          </ion-item>

          <ion-item>

            <ion-label position="stacked">
              Route Area
            </ion-label>

            <ion-input formControlName="routeArea">
            </ion-input>

          </ion-item>

          <ion-button expand="block" color="success" [disabled]="isLoading" (click)="addDriver()">

            Add Driver

          </ion-button>

        </ion-card-content>

      </ion-card>

    </form>

  </div>

</ion-content>