<ion-header>

  <ion-toolbar color="primary">

    <ion-title>

      Dashboard

    </ion-title>

    <ion-buttons slot="end">

      <ion-button (click)="logout()">

        <ion-icon
          slot="icon-only"
          name="log-out-outline">
        </ion-icon>

      </ion-button>

    </ion-buttons>

  </ion-toolbar>

</ion-header>

<ion-content>

  <div class="container">

    <div class="welcome-card">

      <h2>

        Welcome {{ userName }}

      </h2>

      <p *ngIf="userRole === 'driver'">

        Manage your parents and students

      </p>

      <p *ngIf="userRole === 'parent'">

        Manage your driver details

      </p>

    </div>

    <div class="action-card">

<ion-button
  *ngIf="userRole === 'driver'"
  expand="block"
  (click)="navigateAction()">

  Add Parent

</ion-button>

<ion-button
  *ngIf="userRole === 'parent'"
  expand="block"
  (click)="navigateAction()">

  Add Driver

</ion-button>

    </div>

  </div>

</ion-content>