<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="parent/dashboard">
      </ion-back-button>
    </ion-buttons>
    <ion-title>Live Tracking</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="school-card">

    <h3>
      🏫 Lisieux Matriculation School
    </h3>

    <p>
      Ride Starts From:
      Home
    </p>

    <p>
      Ride Ends At:
      Lisieux Matriculation School
    </p>

  </div>

  <div id="map"></div>

</ion-content>